{% extends 'base.html' %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-6 mt-4">
            <img src="{{desc.img.url}}" style="width:300px;height:400px;object-fit:contain;" >
        </div>
        <div class="col-md-6 text-red mt-4">
            <h4 >{{desc.year}}</h4><br>
            <h5>{{desc.theme}}</h5><br>
            <a class="btn btn-warning" href="{% url 'movieapp:update' desc.id %}">Update</a>
            <a class="btn btn-danger" href="{% url 'movieapp:delete' desc.id %}">Delete</a>

        </div>
    </div>

</div>
{% endblock %}

